<div class="index-header">
  <h1>otone-app</h1>
  <h3><%= link_to "作品検索", search_content_contents_path %></h3>
  <div class="user-login-menu">
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete, class:"user-btn" do %>
        <div>ログアウト</div>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class:"user-btn" do %>
        <div>ログイン</div>
      <% end %>
      <%= link_to new_user_registration_path, class:"user-btn" do %>
        <div>新規登録</div>
      <% end %>
    <% end %>
  </div>
</div>


<div class="content-index-main">
  <div class="left-up">ユーザー情報</div>
  <div class="right-up">作品一覧
    <%= link_to new_content_path, class:"new-content-btn" do %>
      <div>作品投稿</div>
    <% end %>
  </div>
  
  <div class="left-under">
    <% if user_signed_in? %>
      <div class="user-info">
        <%= link_to current_user.nickname, user_path(current_user.id) %>
      </div>
      <div>
      <%= current_user.self_introduction %>
      </div>
    <% end %>
  </div>

  <div class="right-under">
    <div class="contents-list">
      <% if @contents.exists? %>
        <% @contents.each do |content| %>
          <div class="content-wrap">
            <div class="content-title">
              <%= link_to content.title, content_path(content.id) %>
            </div>
            <div class="content-category">
              <%= Category.find(content.category_id).name %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>