<div class="index-header">
  <div class="app-logo">
    O<span class="logo-t">T</span>O<span class="logo-ne">NE</span>
    <span class="sub">オタク<span class="sub-t">to</span>オタク <span class="sub-ne">ネ</span>タバレ制限オススメアプリ</span>
  </div>

  <div class="index-menu">
    <% if user_signed_in? %>
      <%= link_to current_user.nickname, user_path(current_user.id), class:"user-link" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"user-btn" %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class:"user-btn" %>
      <%= link_to "新規登録", new_user_registration_path, class:"user-btn" %>
    <% end %>
  </div>
</div>


<div class="content-index-main">
  <div class="index-up">
    <span>作品一覧</span>
    <%= link_to "作品検索", search_content_contents_path, class:"content-search-btn" %>
    <%= link_to "作品投稿", new_content_path, class:"new-content-btn" %>
  </div>

  <div class="index-under">
    <div class="contents-list">
      <% if @contents.exists? %>
        <% @contents.each do |content| %>
          <div class="content-wrap">
            <div>
              <%= link_to content.title, content_path(content.id), class:"content-title" %>
            </div>
            <div class="content-category">
              <%= Category.find(content.category_id).name %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>