<div class="new-content-main">
<div class="content-new-header">作品新規投稿</div>
  <%= form_with model: @content_form, url: contents_path, method: :post, class:"new-content-form", local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="form-field">
      <div>
        <label class="form-wrap">タイトル</label>
      </div>
      <%= f.text_field :title, class:"form-field" %>
    </div>

    <div class="form-field">
      <div>
        <label class="form-wrap">カテゴリー</label>
      </div>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {include_blank: "---"}, {class:"select-box", id:"content-category"}) %>
    </div>

    <div class="form-field">
      <div>
        <label class="form-wrap">ジャンル</label>
      </div>
      <%= f.text_field :genre_name, class:"form-field", id:"genre-name"%>
    </div>
    <div class="search-result", id="genre-search-result"></div>

    <div class="form-field">
      <div>
        <label class="form-wrap">制作者・会社名</label>
      </div>
      <%= f.text_field :creator_name, class:"form-field", id:"creator-name" %>
    </div>
    <div class="search-result", id="creator-search-result"></div>

    <div class="form-field">
      <div>
        <label class="form-wrap">あらすじ</label>
      </div>
      <%= f.text_area :story_line, class:"form-field" %>
    </div>

    <div class="form-field">
      <div>
        <label class="form-wrap">発売日・放送日</label>
      </div>
      <%= f.date_field :release_date, class:"date-field" %>
    </div>

    <div class="new-submit">
      <%= f.submit "投稿する", class:"submit-btn" %>
    </div>

    <div class="return-btn">
      <%= link_to "トップページへ", root_path, class:"top-return" %>
    </div>

  <% end %>
</div>