<h1>作品検索画面</h1>

<%= search_form_for @q, url: search_content_contents_path do |f| %>
  <%= f.label :title_cont, "作品名" %>
  <%= f.text_field :title_cont, placeholder: "作品名" %>

  <%= f.submit "検索" %>
<% end %>

<% @contents.each do |content| %>
  <%= content.title %>
<% end %>