<h1>【<%= @content.title %>】詳細ページ</h1>
<div class="content-show-grid">
  <div class="content-info">
    <div>
      カテゴリー：<%= Category.find(@content.category_id).name %>
    </div>

    <% if @spoiler.genre_spoiler_id == 1 && @content.user_id != current_user.id %>
      ジャンル...
      <div class="spoiler-barrier">《!ネタバレ防止システム作動中!》</div>
    <% else %> 
      <div>
        ジャンル：
        <% @content.genre.each do |g| %>
          <%= g.genre_name %>,
        <% end %>
      </div>
    <% end %>

    <% if @spoiler.creator_spoiler_id == 1 && @content.user_id != current_user.id %>
      制作者・会社名...
      <div class="spoiler-barrier">《!ネタバレ防止システム作動中!》</div>
    <% else %> 
      <div>
        制作者・会社名：<%= @content.creator.first.creator_name %>
      </div>
    <% end %>

    <% if @spoiler.story_line_spoiler_id == 1 && @content.user_id != current_user.id %>
      あらすじ...
      <div class="spoiler-barrier">《!ネタバレ防止システム作動中!》</div>
    <% else %> 
      <div>
        あらすじ：<%= @content.story_line %>
      </div>
    <% end %>

    <% if @spoiler.release_date_spoiler_id == 1 && @content.user_id != current_user.id %>
      発売日・放送日...
      <div class="spoiler-barrier">《!ネタバレ防止システム作動中!》</div>
    <% else %> 
      <div>
        発売日・放送日：<%= @content.release_date %>
      </div><br>
    <% end %>

    <div>
      投稿者：<%= link_to @user.nickname, user_path(@user.id), class:"mini-user-link" %>
    </div>
    <% if user_signed_in? %>
      <% if @content.liked?(current_user) %>
        <%= link_to content_like_path(@content.id), method: :delete, class:"like-link" do%>
          <span class="liked-icon", style="color:red;">❤︎</span><%= @content.likes.count %>
        <% end %>
      <% else %>
        <%= link_to content_likes_path(@content.id), method: :post, class:"like-link" do%>
          <span class="like-icon", style="color:black;">❤︎</span><%= @content.likes.count %>
        <% end %>
      <% end %>
    <% end %>

    <div>
      <% if user_signed_in? %>
        <%= link_to "作品の情報を編集する", edit_content_path(params[:id]), class:"content-edit-btn" %>
      <% end %>
    </div>

    <%= link_to  "トップページへ", root_path, class:"top-return" %>
  </div>

  <div class="comment-container">
    <div>
      <div id="comments">
        <h3>コメント一覧</h3>
        <% @content.comments.each do |comment| %>
          <div class="comment">
            <%= comment.user.nickname %>: 
            <% if @spoiler.comment_spoiler_id == 1 && comment.user_id != current_user.id %>
              <span>ネタバレ防止</span>
            <% else %>
              <%= comment.comment_text %> 
            <% end %>
            <% if user_signed_in? %>
              <% if comment.user.id == current_user.id %>
                <%= link_to "削除", comment_path(comment.id), method: :delete, class:"delete-btn" %>
              <% end %>
            <% end %>
          </div>
        <% end%>
      </div>
      <% if user_signed_in? %>
        <%= form_with model: [@content, @comment], url: content_comments_path(@content.id), method: :post, id:"comment-form" do |f| %>
          <%= f.text_area :comment_text, class:"form-field" %>
          <div>
            <%= f.submit "コメントする" , class:"submit-btn" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="history_container">
    <h3>編集履歴</h3>
    <% @histories.each do |history| %>
    <div class="history-item">
      <%= history.message %><br>
      <span><%= history.created_at.strftime('%Y/%m/%d') %></span>
     </div>
    <% end %>
  </div>
</div>