<div class="index-header">
  <h1>ユーザー詳細画面</h1>
  <div class="user-login-menu">
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete, class:"user-btn" do %>
        <div>ログアウト</div>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class:"user-btn" do %>
        <div>ログイン</div>
      <% end %>
      <%= link_to new_user_registration_path, class:"user-btn" do %>
        <div>新規登録</div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="user-show-grid">
  <div class="left-up">ユーザー情報</div>
  <div class="right-up">作品一覧
    <%= link_to new_content_path, class:"new-content-btn" do %>
      <div>作品投稿</div>
    <% end %>
  </div>

  <div class="left-under">
    <% if user_signed_in? %>
      <div class="user-info">
        <%= @user.nickname %>
      </div>
      <div>
      <%= @user.self_introduction %>
      </div>
    <% end %>
    <% if @user.id == current_user.id %>
      <%= link_to "ユーザー編集", edit_user_registration_path, method: :get %>
    <% end %>

    <% if current_user.following?(@user) %>
      <%= link_to "★", user_follow_relations_path(@user.id), method: :delete, class:"follow-star" %>
      <%= @user.followers.count %>
    <% else %>
      <%= link_to "☆", user_follow_relations_path(@user.id), method: :post, class:"no-follow-star" %>
      <%= @user.followers.count %>
    <% end %>

    <div>
      <%= link_to "recommendする", new_user_recommend_path(params[:id]) %>
    </div>
  </div>

  <div class="right-under">
    <div class="contents-list">
      <% if @contents.exists? %>
        <% @contents.each do |content| %>
          <div class="content-wrap">
            <div class="content-title">
              <%= link_to content.title, content_path(content.id) %>
            </div>
            <div class="content-category">
              <%= Category.find(content.category_id).name %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div>オススメされたリスト
      <div class="recommends-list">
        <% if @recommends.exists? %>
          <% @recommends.each do |rec| %>
            <%= link_to Content.find(rec.content_id).title, content_path(rec.content_id) %>
            <%= link_to User.find(rec.recommender_id).nickname, user_path(rec.recommender_id) %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="top-return">
      <%= link_to root_path, class:"top-page-return" do %>
        <div class="top-re">トップページへ</div>
      <% end %>
    </div>
  </div>
</div>
