<h1>作品オススメページ</h1>
<%= form_with model:@recommend, url: user_recommends_path(@user.id), method: :post, class:"recommend-form", local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  <div>
    オススメするユーザー：<%= @user.nickname %>
    <div class="hyde">
    <div>
      <%= f.text_field :recommended_id, value:"#{@user.id}" %>
      <%= f.text_field :recommender_id, value:"#{current_user.id}" %>
    </div>
  </div>
  <div>
    オススメする作品：<span id="select-content-title">選択してください</span>
  </div>
  <div>
    作品ID：<%= f.text_field :content_id, placeholder: "作品のIDを入力",class:"form-field", id:"hidden-id" %>
  </div>

  <div id="content-lists">
    作品リスト
  </div>

  <ul class="show-lists hidden", id="pull-down">
    <div class="select-list">
      <% @contents.each do |content| %>
        <div>
          <li class="list-child">
            【タイトル】<%= content.title %>　ID：<%= content.id%>
          </li>
          <li class="select-id-child">
          </li>
        </div>
      <% end %>
    <div>
  </ul>
  <%= f.submit "オススメする", class:"recommend-btn" %>
<% end %>

<div class="return-btn">
  <%= link_to "トップページへ", root_path, class:"top-return" %>
</div>