<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-field" %>
  </div>

  <div class="field">
    <%= f.label "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"form-field" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label "ログイン状態を保持する" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class:"submit-btn" %>
  </div>
<% end %>

<a href="/users/sign_up", class="move-btn">新規登録</a><br>
<a href="/users/password/new", class="move-btn">パスワードを忘れた方はこちら</a>
